
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('./fonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/open-sans-v17-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('./fonts/open-sans-v17-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/open-sans-v17-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/open-sans-v17-latin-600.woff') format('woff'), /* Modern Browsers */
  url('./fonts/open-sans-v17-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/open-sans-v17-latin-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-800 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/open-sans-v17-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
  url('./fonts/open-sans-v17-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/open-sans-v17-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/open-sans-v17-latin-800.woff') format('woff'), /* Modern Browsers */
  url('./fonts/open-sans-v17-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/open-sans-v17-latin-800.svg#OpenSans') format('svg'); /* Legacy iOS */
}


* {
  box-sizing: border-box;
  font-family: "Open Sans", Arial;
  color: #003c50;

  word-break: break-word;
}


/* For mobile phones: - mobile first -*/
[class*="col-"] {
  width: 100%;
  float: left;
  padding: 15px;
}

body{
  margin: 0;
  background-color: #fefefe;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

.modal{
  background-color: #fff;
  border: 3px solid #003c50;
  padding: 35px;
}

.not-confirm-delete, .confirm-delete{
  color: white;
  float: left;
  font-size: 1.3rem;
}

.confirm-delete{
  background-color: #7fba24;
}

.not-confirm-delete{
  background-color: #003c50;
}

.container{
  max-width: 1000px;
  margin: auto auto 50px auto;
  padding: 60px 10px 20vh 10px;
  min-height: 85vh;
}

.header-container{
  max-width: 1000px;
  margin: auto;
}

.logo{
  display: inline;
}

.logo img{
  padding: 0;
  height: 60px;
  width: auto;
}

.header{
  background-color: rgba(234, 234, 234, 0.9);
  height: 60px;
  margin: 0 0 0 0;
  padding: 0;
  position: fixed;
}

.login-button, .logout-button, .comment-review-button, .back-button, .user-settings-button{
  color: white;
  float: right;
  text-align: center;
  font-size: 2rem;
  width: 60px;
  height: 60px;
  padding: 15px 0;
}

.back-button{
  background-color: #7fba24;
}

.comment-review-button{
  background-color: #f15a24;
}

.login-button{
  background-color: #003c50;
}

.logout-button{
  background-color: #7f9da7;
}


.user-settings-button{
  background-color: #fff;
  color: #003c50;
}

h1{font-size: 2rem; }
h2{font-size: 1.5rem;}
h3{font-size: 1.3rem; margin: 0;}
h4{font-size: 1.1rem}
h5{font-size: 1.0rem; margin: 0;}
p{font-size: 1rem;}
a{ text-decoration: none; }

hr{
  border: 1px solid #eaeaea;
  margin: 30px 0;
}

.active{display: block;}

button.inactive{cursor: default;}

button.inactive i{
  color:#eaeaea;
  transition: 0.4s;
}

span.active{display: inline}

img {
  width: 100%;
  height: auto;
}



button{
  background: none;
  width: 100%;
  height: auto;
  border: none;
  font-size: 2.5rem;
  cursor: pointer;
}

button.decline i, button.accept i, button.add i{
  color: white;
  transition: 0.3s;
}



button.decline, button.accept, button.add{
  border-radius: 25px;
  color: white;
  height: 45px;
  width: 45px;
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0;
}

button.decline{
  background-color: #f15a24;
}

button.accept{
  background-color: #7fba24;
}

button.add{
  background-color: #003c50;
  float: right;
  transition: 0.4s;
}

.cross i{
  transform: rotate(45deg);
  transition: 0.3s;
}

.project-list-item{
  padding: 0;
  position: relative;
}

.comment-container{
  position: relative;
  padding: 25px 25px;
}

.delete{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.delete button{
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.delete button i{
  float:right;
  color: #f15a24;
  font-size: 1.5rem;
  margin: 0 1px;
}

.delete button:hover{
  background-color: rgba(127, 157, 167, 0.2);
}


.project-list-item:hover, .feature-list-item:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.feature-list-item, .project-list-item, .comment-section-item, .comment-container{
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-bottom: 15px;
  position: relative;
}

.feature-count{
  padding: 19px 0;
}

.feature-count, .comment-section-button{
  text-align: center;
}

.feature-count > button{
  height: 60px;
}

.feature-count p{
  margin: 25px;
}

.feature-text{padding: 30px 15px 25px 0;}

.feature-image{
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 0;
}

/*Display feature count next to feature body on mobile devices*/
.feature-count, .comment-section-button, .add-button, .delete-project, .decline-admin-button{width: 25%;}
.feature-text, .comment-section-content, .project-name,  .FDV-comment-count, .user-name{width: 75%;}



.feature-text .comment-count p{
  margin: 0;
  font-weight: 600;
}

.comment-section-content{
  padding: 35px 25px;
}


.comment-section-content .comment-author, .comment-section-content .comment-date, .comment-project-link, .comment-feature-link{
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0 0 0 0;
  padding: 0 15px 0 0;
  float: left;
}

.comment-project-link a, .comment-feature-link a{
  text-decoration: underline;
}

.comment-author{
  color: #7fba24;
  font-weight: 600;
  font-size: 0.8rem;}

.comment-date{
  color: #7f9da7;
  font-weight: 600;
  font-size: 0.8rem;
}



footer{
  background-color: #003c50;
  color: white;
  padding: 25px;
  margin-top: 50px;
  min-height: 10vh;
  display: block;

}

footer a{
  color: white;
}

footer div{
  max-width: 1000px;
  margin: auto;
}

.questions, .answers{
  margin: 80px 0;
}

.answers div{
  margin: 50px 0;
}
.form{
  margin-bottom: 50px;
}

label{
  font-size: 1rem;

}

input, textarea{
  margin-bottom: 5px;
  padding: 15px;
}

label, input{
  display: block;
  width: 100%;

}

.submit{
  color: white;
  background-color: #003c50;
  float: left;
  font-size: 1.3rem;
}
.submit-small{
  color: white;
  background-color: #003c50;
  float: left;
  font-size: 1.0rem;
  margin: 10px;
}


textarea[name="description"]{
  height: 150px;
  width: 100%;
}

select{
  padding: 10px;
  margin: 22px 0;
  border: 2px solid #003c50;
  float: right;
  width:100%;
}

.form-response{
  padding: 25px;
  border: 3px solid #003c50;
  min-height: 120px;
}

.form-response > p{
  margin: 0;
}

.form-response-delete{
  padding: 25px;
  min-height: 120px;
}

.form-response-delete > p{
  margin: 0;
}


.readMoreText{
  color: #7fba24 !important;
  display: block;
  margin: 5px 0;
  font-size: 0.9rem;
}

.short-text{
  display: block;
  padding: 15px 0 10px 0;
  min-height: 110px;
}



.to-top button{
  height: 50px;
}

.to-top button i{
  font-size: 2.5rem;
  color: rgba(255, 255, 255, 0.61);
  margin-bottom: 15px;
}

.to-top {
  height: 60px;
  width: 60px;
  position: fixed;
  right: -100px;
  bottom: 150px;
  transition: 0.5s;
  cursor: pointer;
  background-color: rgba(127, 157, 167, 0.25);
  font-size: 20px;
}

.transition {
  right: 20px;
}

/* For desktop: */
@media only screen and (min-width: 700px) {
  *{
    word-break: normal;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}


  .container{
    max-width: 1000px;
    margin: auto auto 50px auto;
    padding: 80px 0 20vh 0;
    min-height: 85vh;
  }


  h1{font-size: 2rem;}
  h2{font-size: 1.5rem;}
  h3{font-size: 1.5rem;}
  h4{font-size: 1.2rem}
  p{font-size: 1rem;}

  a{ text-decoration: none; }


  .header{
    height: 80px;
  }

  .logo img{
    height: 80px;
  }

  .login-button, .logout-button, .comment-review-button, .back-button, .user-settings-button{
    width: 80px;
    height: 80px;
    padding: 25px 0;
  }

  .submit{
    margin-left: 15px;
  }
}


